<h1 class="mt-4">Produtores</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Lista dos produtores</li>
</ol>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="menssagemSucesso">
                {{ menssagemSucesso }}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="menssagemErro">
                {{ menssagemErro }}
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-warning" (click)="novoCadastro()">
            <i class="fa fa-plus"></i>Novo
        </button>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table talbe condensed table-hover">
                <thead>
                    <tr>
                        <th>Id:</th>
                        <th>Nome:</th>
                        <th>cidade:</th>
                        <th>Telefone:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produtor of produtores">
                        <td> {{ produtor.id }}  </td>
                        <td> {{ produtor.nome }} </td>
                        <td> {{ produtor.cidade }} </td>
                        <td> {{ produtor.telefone }} </td>
                        <td>
                            <button class="btn btn-primary" 
                                routerLink="/produtoresForm/{{produtor.id}}"
                            >
                                <i class="fa fa-pen-square"></i>
                            </button>

                            <button class="btn btn-danger ml-1" 
                                    data-toggle="modal" 
                                    data-target="#modalSelecao"
                                    (click)="preparaDelecao(produtor)"
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalSelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="produtorSelecionado">
                     Confirma a deleção do funcionario {{ produtorSelecionado.nome }} ?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success"
                    data-toggle="modal"
                    data-target="#modalSelecao" 
                    (click)="deletarProdutor   ()"
                    data-dismiss="modal">Confirmar</button> 

                    <button class="btn btn-danger" 
                    data-dismiss="modal">Cancelar</button>                     
                </div>
            </div>
        </div>
    </div>
</div>  